@* This file is the root component of the application *@
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@using BlazorDemo.Layout

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <p>You are not authorized to access this resource.</p>
                </NotAuthorized>
                <Authorizing>
                    <div class="loading">Loading...</div>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="not-found">
                    <h1>Page not found</h1>
                    <p>Sorry, there's nothing at this address.</p>
                    <NavLink href="/" class="btn btn-primary">Return to home</NavLink>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
